


/*fazendo um espaçament0*/
body,ul,li,p{
    padding: 0px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

/* dividindo a estrutura da página com grid*/
.estrutura{
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 3fr 1fr;
    grid-template-areas: "header header header"
    "imagem conteudo none"
    "footer footer footer"
    ;
}
/*estilizando o cabeçalho a meu estilo*/
.header{margin: 0px;
    grid-area: header;
    background-color: rgb(196, 6, 6);
    padding: 30px;
    display: grid;
   
}
/*informando o css grid area os conteudos que vão ocupar cada divisão da pagina*/
.imagem{
    grid-area: imagem;
}

.conteudo{
    grid-area: conteudo;
}
.header nav ul {
    display: flex;
}
/*estilizando o cabeçalho*/
.header nav a{
    display: block;
    padding: 10px;
    color: white;
    font-size: 30px;
    background: rgba(0,0,0,0.1);
    border-radius: 10px;
    transition: 0.1s;
    margin-right: 200px;
    margin-left: 235px;
    
    
  
}
header nav a:hover{
    background: rgba(0,0,0,0.5);
}

/*dando uma cor pro site*/
body{
    background-color: rgb(230, 230, 223);
}

p{
    font-size: 30px;
}
h1{
    font-size: 70px;
}

h1 p a{
    font-family: Arial, Helvetica, sans-serif;
}
.img1{
    height: 500px;
    width: 500px;
    border: rebeccapurple solid;

}

h1{
    text-align: center;
}
/*tirando as margens pra não ficar sobrando espaço*/
body {
    margin: 0px;
}

/*definindo um tamanho que me agrade*/
.img1{
  margin-right: 500px;
  margin-left: 500px;
}

/*estilizando o rodapé*/
.rodape{
    background-color: rebeccapurple;
    height:150px;
    
}